<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">What Is Chrome Controller?</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li>
</ul>

<ul class="icons">
  <li><a target="_blank" rel="noopener noreferrer" href="{{ site.webstore_download_url | absolute_url }}" class="button">Add to Your Browser</a></li>
  <li><a href="https://twitter.com/{{site.twitter}}" target="_blank" rel="noopener noreferrer" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="{{site.repository_url}}" target="_blank" rel="noopener noreferrer" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
  <!-- <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li> -->
  <!-- <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li> -->
</ul>
