body {
	min-width: 500px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#submit {
    text-transform: uppercase;
    height: 50px;
    width: 480px;
    transition: 0.5s ease-in-out;
}

#submit:hover {
    transform: translate( 0, -1px );
}

.slider {
	width: 100%;
}

input.color-picker {
    cursor: pointer;
    border: none;
    height: 26px;
}

#settings-container {
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}

#title {
    text-transform: uppercase;
    font-size: 60px;
    box-shadow: 0 0 5px #000;
}

.section-title {
    text-transform: uppercase;
    font-size: 40px;
}

.setting-label {
    text-transform: uppercase;
}

.range-display {
    margin-top: -15px;
    color: grey;
    font-size: 12px;
}

.sec-div {
    text-align: center;
    border: solid 1px #e5e5e5;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2 );
}

.cursor-dot {
    background-color: #000;
    border-radius: 50%;
}