body {
	min-width: 500px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.star {
    width: 16px;
    height: 16px;
    background-image: url( "../../assets/star.png" );
    background-position: center;
    background-color: transparent;
    background-size: contain;
    margin: auto;
    display: inline-block;
}

.modal-title {
    text-transform: uppercase;
    font-weight: 100;
}

h1 a.sec-foot-note {
    font-size: 12px;
    display: block;
    margin-left: 3px;
}

li.nav-item {
    width: 50%;
    cursor: pointer;
}

.nav-link {
    color: black;
    transition: color 0.1s ease-in-out;
}

.nav-link:hover:not(.active) {
    color: rgba( 0, 0, 0, 0.7 );
    border: none;
}

#nav-buttons {
    margin-top: 10px;
}

#submit {
    text-transform: uppercase;
    height: 50px;
    width: 480px;
    transition: 0.5s ease-in-out;
}

#final-submit, #final-submit-rate {
    width: 50%;
}

#bottom-container {
    box-shadow: 0px -5px 5px rgba( 0, 0, 0, 0.1 );
}

#submit:hover {
    transform: translate( 0, -1px );
}

.slider {
	width: 100%;
}

input.color-picker {
    cursor: pointer;
    border: none;
    height: 26px;
}

.page {
    height: 390px;
    padding: 15px;
	overflow-y: auto;
	overflow-x: none;
}

#rating-container {
    width: 100%;
    margin-top: -5px;
    cursor: pointer;
}

#title {
    box-shadow: 0px 5px 5px rgba( 0, 0, 0, 0.1 );
}

.title-text {
    margin: 0px;
    text-transform: uppercase;
    font-size: 60px;
}

.section-title {
    text-transform: uppercase;
    font-size: 40px;
}

.setting-label {
    text-transform: uppercase;
}

.range-display {
    margin-top: -15px;
    color: grey;
    font-size: 12px;
}

.sec-div {
    text-align: center;
    border: solid 1px #e5e5e5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2 );
}

#cursor-dot {
    margin: auto;
    margin-bottom: 10px;
    background-color: #000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: 0.8;
    transition: transform 0.5s ease-in;
}

#cursor-dot.right {
    transform: translate( 180px );
}

#cursor-dot.left {
    transform: translate( -180px );
}